includes:
	- phpstan-baseline.neon

parameters:
	level: 8

	paths:
		- src/Mantle/
		- mantle.php
		- phpstan/

	ignoreErrors:
		-
			identifier: staticMethod.resultUnused
		# Will be fixed in PHPStan soon.
		-
			identifier: function.alreadyNarrowedType
			paths:
				- src/Mantle/Support
				- src/Mantle/Testing
		-
			identifier: missingType.generics
			paths:
				- src/Mantle/Contracts
		-
			identifier: missingType.iterableValue
			paths:
				- src/Mantle/Contracts
				- src/Mantle/Facade
				- src/Mantle/Filesystem/Filesystem.php
				- src/Mantle/Filesystem/Filesystem_Adapter.php
				- src/Mantle/Testing
				- src/Mantle/Testkit
		-
			identifier: missingType.return
			paths:
				- src/Mantle/Contracts
				- src/Mantle/Testing/Concerns/Core_Shim.php
		-
			identifier: missingType.parameter
			paths:
				- **/autoload.php
				- src/Mantle/Filesystem/Filesystem_Adapter.php
		-
			message: "#implements generic interface ArrayAccess but does not specify its types#"
			paths:
				- src/Mantle/Testing
		- "#Unsafe usage of new static#"
		- "#PHPDoc tag @param references unknown parameter#"
		- "#interface ArrayAccess but does not specify#"
		- "#ReflectionClass does not specify its types#"
		- "#ReflectionAttribute does not specify its types#"
		- "#@return is not subtype of template type TKey#"
		- "#WP_REST_Request does not specify its types#"
		- "#WP_REST_Request but does not specify its types#"
		- "#query of method wpdb::prepare#"
		-
			identifier: method.childReturnType
			paths:
				- src/Mantle/Http_Client/Pooled_Pending_Request.php
		-
			identifier: argument.type
			paths:
				- src/Mantle/Support/Collection.php
		-
			identifier: return.type
			paths:
				- src/Mantle/Support/Collection.php

	scanFiles:
		- %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-stubs.php

	scanDirectories:
		- tests/fixtures/phpstan

	excludePaths:
		- src/Mantle/Blocks
		- src/Mantle/Container/Bound_Method.php
		- src/Mantle/Database/Factory
		- src/Mantle/Framework/Console/Hook_Usage_Command.php
		- src/Mantle/Framework/Console/Generators
		- src/Mantle/Query_Monitor
		- src/Mantle/Queue/Providers/WordPress/Admin/Queue_Jobs_Table.php
		- src/Mantle/Queue/Providers/WordPress/Admin/Service_Provider.php
		- src/Mantle/Support/Enumerable.php
		- src/Mantle/Support/Traits/Conditionable.php
		- src/Mantle/Testing/Mock_Action.php
		- src/Mantle/Testing/install-wordpress.php
		- src/Mantle/Testing/preload.php
		- src/Mantle/Testing/wordpress-bootstrap.php
		- src/Mantle/**/vendor/**

		# Files that need to be fixed and re-added.
		- src/Mantle/Queue/Queue_Fake.php
