includes:
	- phpstan-baseline.neon

parameters:
	# Level 9 is the highest level
	level: 5

	paths:
		- src
		- mantle.php

	ignoreErrors:
		- "#Unsafe usage of new static#"
		- "#PHPDoc tag @param references unknown parameter#"
		- "#@return is not subtype of template type TKey#"

	scanFiles:
		- %rootDir%/../../php-stubs/wp-cli-stubs/wp-cli-stubs.php

	scanDirectories:
		- tests/fixtures/phpstan

	excludePaths:
		- src/Mantle/Database/factory
		- src/Mantle/Blocks
		- src/Mantle/QueryMonitor
		- src/Mantle/Testing/class-mock-action.php
		- src/Mantle/Testing/doubles/class-mockphpmailer.php
		- src/Mantle/Testing/install-wordpress.php
		- src/Mantle/Testing/preload.php
		- src/Mantle/Testing/wordpress-bootstrap.php
		- src/Mantle/Testing/wp-tests-config-sample.php

	type_coverage:
		return_type: 50
		param_type: 50
		property_type: 50
