<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
	displayDetailsOnTestsThatTriggerDeprecations="true"
	displayDetailsOnTestsThatTriggerWarnings="true"
	failOnNotice="false"
	failOnDeprecation="false"
	convertNoticesToExceptions="false"
>
	<testsuites>
		<testsuite name="mantle-framework">
			<directory suffix="Test.php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
