<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
	displayDetailsOnTestsThatTriggerDeprecations="true"
	displayDetailsOnTestsThatTriggerWarnings="true"
	failOnNotice="true"
	failOnWarning="true"
	failOnDeprecation="true"
>
	<php>
		<env name="LOG_CHANNEL" value="stderr" />
	</php>
	<testsuites>
		<testsuite name="mantle-framework">
			<directory suffix="Test.php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
